body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to left, #FDC830, #F37335);
}

footer {
  text-align: center;
  font-family: 'Strawberry Shortcake Supplement Logo Regular';
  word-spacing: 0.2rem;
}
